################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AwaitMultiple.Tests/bin
/AwaitMultiple.Tests/obj
